body {
  background-color: #cae8d5;
}

.keyboard-key {
  background-color: #204051;
  padding: 10px;
  color: white;
}

.regular-size-key {
  flex-grow: 1;
}

.tall-size-key {
  flex-grow: 3;
}

.items-column-keyboard {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.plain-flex {
  display: flex;
}

.display-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
